# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments
.venv/
.env/

# Ignore Django migrations
*/migrations/

# Ignore database files
*.sqlite3

# Ignore logs
*.log

# Ignore IDE specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db